body {
 margin: 0;
 padding: 0;
 font-family: Arial, sans-serif;
}

header {
 background-color: #fff;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 padding: 20px;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 1;
}

nav {
 float: right;
}

nav ul {
 margin: 0;
 padding: 0;
 list-style: none;
}

nav li {
 display: inline-block;
 margin-left: 20px;
}

nav li:first-child {
 margin-left: 0;
}

nav a {
 color: #333;
 text-decoration: none;
 font-size: 16px;
 font-weight: bold;
}

h1 {
 font-size: 36px;
 font-weight: bold;
 margin: 0;
}

main {
 margin-top: 100px;
}

.hero {
 background-image: url(img1.jpg);
 background-size: cover;
 background-position: center;
 color: #fff;
 padding: 100px;
 text-align: center;
}

.hero h2 {
 font-size: 48px;
 font-weight: bold;
 margin: 0 0 20px;
}

.hero p {
 font-size: 24px;
 margin-bottom: 40px;
}

.cta {
 background-color: #fff;
 color: #333;
 display: inline-block;
 font-size: 18px;
 font-weight: bold;
 padding: 20px 40px;
 text-decoration: none;
}

.motorcycles {
 padding: 50px;
 background-color: #f7f7f7;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}

.motorcycle {
 background-color: #fff;
 border-radius: 5px;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 display: inline-block;
 margin-right: 20px;
 vertical-align: top;
 width: calc(50% - 10px);
}

.motorcycle:last-child {
 margin-right: 0;
}

.motorcycle img {
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 display: block;
 height: 400px;
 object-fit: cover;
 width: 100%;
}

.motorcycle h3 {
 font-size: 24px;
 font-weight: bold;
 margin: 20px;
}

.motorcycle p {
 font-size: 16px;
 line-height: 1.5;
 margin: 0 20px 20px;
}

footer {
 background-color: #333;
 color: #fff;
 padding: 20px;
 text-align: center;
}

footer p {
 margin: 0;
 font-size: 14px;
}